.profile {}

.profile-header {
  text-align: center;
}

.profile-tabs {
  margin-top: 50px;
  font-size: 0;
  &__container {
    margin: 0;
    padding: 0 0 0 15px;
    list-style: none;
    border-bottom: 1px solid $border-color;
  }

  &__item {
    display: inline-block;
    margin-right: 5px;
    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    display: inline-block;
    padding: 10px 15px;
    font-size: 14px;
    text-decoration: none;
    color: $link-color;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    &:hover {
      background-color: $bg-hover-color;
    }
    &_active {
      background-color: $bg-hover-color;
    }

  }

}
.profile-content {
  @include clearfix();
  margin-top: 30px;
  margin-bottom: 30px;
  &__avatar-container {
    box-sizing: border-box;
    float: left;
    width: 50%;
    position: relative;
    padding-left: 15px;
  }
  &__avatar {
    max-width: 100%;
  }

  &__main-info {
    float: left;
    box-sizing: border-box;
    width: 50%;
    position: relative;
  }

  &__main-info-item {
    font-size: 14px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 15px;
    @include clearfix();
  }

  &__main-info-label {
    float: left;
    text-align: right;
    width: 40%;
    box-sizing: border-box;
  }
  &__main-info-value {
    font-weight: bold;
    float: left;
    width: 60%;
    padding-left: 15px;
    box-sizing: border-box;
  }
  &__users-empty {
    text-align: center;
    margin: 50px auto 0 auto;
    background-color: $bg-hover-color;
    padding: 10px 0;
    width: 400px;
    border-radius: 3px;
  }

}


.users-list {
  padding: 0;
  list-style: none;
  width: 400px;
  margin: 0 auto;
  border: 1px solid $border-color;
  border-radius: 3px;
  &__item {
  }
  &__link {
    color: $link-color;
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    &:hover {
      background-color: $bg-hover-color;
    }
  }
}
.repository-list {
  list-style: none;
  padding: 0;
  margin: 0 auto;



  &__item {
    font-size: 14px;
    padding: 15px;
    &:hover {
      background-color: $bg-hover-color;
    }
  }
  &__title {
    display: block;
  }
  &__link {
    color: $link-color;
    &:visited {
      color: $link-color;
    }
    &:link {
      color: $link-color;
    }
  }
}