@import "config";
@import "mixins";

html, body {
  padding: 0;
  margin: 0;
  font-family: 'PT Sans', sans-serif;
  background-color: $bg-color;
  height: 100%;
  width: 100%;
}

.container {
  position: relative;
  color: $text-color;
  width: 960px;
  margin: 0 auto;
  background-color: $bg-container-color;
  padding-bottom: 30px;
  box-shadow: 0 2px 10px $shadow-color;
}
.page-header {
  background-color: $bg-header-color;
  padding: 0 15px;
  height: 50px;
  position: relative;
  &__title {
    display: inline;
    margin: 0;
    line-height: 50px;
    text-align: left;
  }
  &__title-link {
    color: $link-color;
    text-decoration: none;
  }
  &__current-page {
    font-weight: bold;
    margin-left: 15px;
  }
}


.page-footer {
  position: relative;
  bottom: 0;
  &__copyright {
    position: relative;
    text-align: center;
    font-size: 14px;
  }
}
.page-not-found {
  text-align: center;
}

#spinner {
  display: none;
  position: absolute;
  z-index: 100;
  right: 15px;
  top: 14px;
  font-size: 18px;
}
.upload-button {
  display: block;
  width: 200px;
  color: $link-color;
  text-decoration: none;
  margin: 0 auto;
  text-align: center;
  background-color: $bg-hover-color;
  padding: 10px 0;
  border-radius: 3px;
}


@import "search";
@import "profile";