html, body {
  padding: 0;
  margin: 0;
  font-family: 'PT Sans', sans-serif;
  background-color: #f1f1f1;
  height: 100%;
  width: 100%;
}

.container {
  position: relative;
  color: #444;
  width: 960px;
  margin: 0 auto;
  background-color: #fff;
  padding-bottom: 30px;
  box-shadow: 0 2px 10px #666;
}

.page-header {
  background-color: #f6f6f6;
  padding: 0 15px;
  height: 50px;
}

.page-header__title {
  display: inline;
  margin: 0;
  line-height: 50px;
  text-align: left;
}

.page-header__title-link {
  color: #6383A8;
  text-decoration: none;
}

.page-header__current-page {
  font-weight: bold;
  margin-left: 15px;
}

.page-footer {
  position: relative;
  bottom: 0;
}

.page-footer__copyright {
  position: relative;
  text-align: center;
  font-size: 14px;
}

.page-not-found {
  text-align: center;
}

.search-form {
  position: relative;
  text-align: center;
  width: 500px;
  min-height: 500px;
  margin: 50px auto 0 auto;
}

.search-form__input {
  width: 400px;
  padding: 10px;
  outline: none;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 3px;
}

.search-results {
  position: absolute;
  padding: 10px 0;
  z-index: 100;
  top: 45px;
  display: none;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 3px;
  max-height: 400px;
  overflow: auto;
  background-color: #fff;
}

.search-results__result {
  list-style: none;
  padding: 0;
  margin: 0;
}

.search-results__no-match {
  text-align: center;
  margin: 0;
}

.search-results__link {
  text-decoration: none;
  text-align: left;
  color: #6383A8;
  display: block;
  padding: 10px 15px;
}

.search-results__link:hover {
  background-color: #f6f6f6;
  cursor: pointer;
}

.search-placeholder {
  color: #777777;
  text-align: center;
  margin-top: 180px;
}

#resultNotFound {
  display: none;
}

.profile-header {
  text-align: center;
}

.profile-tabs {
  margin-top: 50px;
  font-size: 0;
}

.profile-tabs__container {
  margin: 0;
  padding: 0 0 0 15px;
  list-style: none;
  border-bottom: 1px solid #ddd;
}

.profile-tabs__item {
  display: inline-block;
  margin-right: 5px;
}

.profile-tabs__item:last-child {
  margin-right: 0;
}

.profile-tabs__link {
  display: inline-block;
  padding: 10px 15px;
  font-size: 14px;
  text-decoration: none;
  color: #6383A8;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.profile-tabs__link:hover {
  background-color: #f6f6f6;
}

.profile-tabs__link_active {
  background-color: #f6f6f6;
}

.profile-content {
  margin-top: 30px;
  margin-bottom: 30px;
}

.profile-content:after {
  content: '';
  display: block;
  clear: both;
}

.profile-content__avatar-container {
  box-sizing: border-box;
  float: left;
  width: 50%;
  position: relative;
  padding-left: 15px;
}

.profile-content__avatar {
  max-width: 100%;
}

.profile-content__main-info {
  float: left;
  box-sizing: border-box;
  width: 50%;
  position: relative;
}

.profile-content__main-info-item {
  font-size: 14px;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 15px;
}

.profile-content__main-info-item:after {
  content: '';
  display: block;
  clear: both;
}

.profile-content__main-info-label {
  float: left;
  text-align: right;
  width: 40%;
  box-sizing: border-box;
}

.profile-content__main-info-value {
  font-weight: bold;
  float: left;
  width: 60%;
  padding-left: 15px;
  box-sizing: border-box;
}

.profile-content__users-empty {
  text-align: center;
  margin: 50px auto 0 auto;
  background-color: #f6f6f6;
  padding: 10px 0;
  width: 400px;
  border-radius: 3px;
}

.users-list {
  padding: 0;
  list-style: none;
  width: 400px;
  margin: 0 auto;
  border: 1px solid #ddd;
  border-radius: 3px;
}

.users-list__link {
  color: #6383A8;
  display: block;
  padding: 10px 15px;
  text-decoration: none;
}

.users-list__link:hover {
  background-color: #f6f6f6;
}

.repository-list {
  list-style: none;
  padding: 0;
  margin: 0 auto;
}

.repository-list__item {
  font-size: 14px;
  padding: 15px;
}

.repository-list__item:hover {
  background-color: #f6f6f6;
}

.repository-list__title {
  display: block;
}

.repository-list__link {
  color: #6383A8;
}

.repository-list__link:visited {
  color: #6383A8;
}

.repository-list__link:link {
  color: #6383A8;
}
