<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GitHub API</title>
    <link href='https://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/style/style.css">
</head>
<body>

    <div class="container">
        <header class="page-header">
            <h3 class="page-header__title"><a class="page-header__title-link" href="#/" title="Назад к поиску">GitHub Api</a></h3>
            <span class="page-header__current-page" id="currentPageTitle"></span>
            <i class="fa fa-cog fa-spin" id="spinner"></i>
        </header>
        <div id="viewContainer">
            <!-- Сюда вставляется представление -->
        </div>

        <footer class="page-footer">
            <p class="page-footer__copyright">&copy; 2015 by V.M.</p>
        </footer>
    </div>
    <script src="/scripts/app.js"></script>
</body>
</html>