<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GitHub API</title>
    <link href='https://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/style/style.css">
</head>
<body>

    <div class="container">
        <header class="page-header">
            <h3 class="page-header__title">GitHub Api</h3>
        </header>


        <div id="viewContainer">
            <!-- Сюда вставляется представление -->
        </div>

    </div>
    <script src="/scripts/app.js"></script>
</body>
</html>