<div class="profile">
    <div class="profile-tabs">
        <ul class="profile-tabs__container">
            <li class="profile-tabs__item"><a class="profile-tabs__link" href="#/profile/{{userLogin}}/main">Основная информация</a></li>
            <li class="profile-tabs__item"><a class="profile-tabs__link" href="#/profile/{{userLogin}}/followers">Подписчики</a></li>
            <li class="profile-tabs__item"><a class="profile-tabs__link profile-tabs__link_active" href="#/profile/{{userLogin}}/followings">Подписки</a></li>
            <li class="profile-tabs__item"><a class="profile-tabs__link" href="#/profile/{{userLogin}}/repositories">Репозитории</a></li>
        </ul>
    </div>
    <div class="profile-content" id="usersArea">
        <h3 class="profile-header">Список подписок</h3>
    </div>
</div>

