<div class="profile">
    <div class="profile-tabs">
        <ul class="profile-tabs__container">
            <li class="profile-tabs__item"><a class="profile-tabs__link" href="#/profile/{{userId}}/main">Основная информация</a></li>
            <li class="profile-tabs__item"><a class="profile-tabs__link" href="#/profile/{{userId}}/followers">Подписчики</a></li>
            <li class="profile-tabs__item"><a class="profile-tabs__link" href="#/profile/{{userId}}/followings">Подписки</a></li>
            <li class="profile-tabs__item"><a class="profile-tabs__link profile-tabs__link_active" href="#/profile/{{userId}}/repositories">Репозитории</a></li>
        </ul>
    </div>
    <div class="profile-content" id="contentArea"></div>
</div>

